
# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IDE files
*.iml
.idea/
*.ipr
*.iws
out/
target/
bin/

# Eclipse
.settings/
.classpath
.project

# VS Code
.vscode/

# Maven
/logs
/.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Others
*.DS_Store
